<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Serve admin.html" stopProcessing="true">
          <match url="^/?$" />
          <action type="Rewrite" url="admin.html" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="admin.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>